*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aliceblue;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    width: 900px;
    margin: 0 auto;

}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.top_section h4{
    text-align: end;
    font-size: 30px;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.image_container img{
    width: 300px;
    height: 320px;
}

.about_section{
    margin-top: 50px;
}
.about_section h2{
    margin-left: 5px;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    margin-left: 5px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biography_section{
    margin-left: 5px;
    margin: 50PX 0; 
}
.biography_section h3{
    margin-left: 5px;
    margin-bottom: 20px;

}
.biography_section ul{
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 50px;
}
.biography_section li{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px; 
}

footer{
    margin:50px 0;
}
footer p{
    text-align: end;
}